/* buttons */
.btn-plus-pokemon {
    width: 300px;
    height: 100%;
    font-size: 56px;
    background-color: #faebd7;
    border: none;
    border-radius: 30px;
}

.btn-plus-pokemon:hover {
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.81);
    cursor: pointer;
}

.btn-pokemon-details {
    height: 40px;

    b {
        font-size: 32px;
    }
}

.btn-pokemon-details:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn-close-dialog {
    width: 45px;
    height: 45px;
    background-color: #36454f93;
    border: 2px solid rgba(0, 0, 0, 0.582);
    border-radius: 100%;
    cursor: pointer;
}

.btn-prev-poke {
    width: 45px;
    height: 45px;
    background-color: #36454f93;
    border: 2px solid rgba(0, 0, 0, 0.582);
    border-radius: 100%;
    cursor: pointer;
}

.btn-next-poke {
    width: 45px;
    height: 45px;
    background-color: #36454f93;
    border: 2px solid rgba(0, 0, 0, 0.582);
    border-radius: 100%;
    cursor: pointer;
}

/* icons/img */
.header-img {
    width: 32px;
}

.type-icon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.type-icon-dialog {
    width: 100%;
    height: 48px;
    /* border-radius: 100%; */
}

.symbol-type {
    width: 32px;
    height: 32px;

}

/* for fonts */
.transform-uppercase {
    transform: uppercase;
}

/* skillbars */
.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #dddddd49;
    border: 2px solid black;
    border-radius: 20px;
}

.skills {
    color: #8ea0ac00;
    border-radius: 20px;
    width: calc(var(--value) * 1%);
    transition: width 0.3s ease;
}