* {
    font-family: 'roboto';
}

h2 {
    text-transform: uppercase;
}

table {
    width: 100%;
}

td {
    width: auto;
}

.search-results {
    position: relative;
}

.no-search-results {
    text-align: center;
    padding: 40px 20px;
    font-size: 1.4rem;
    color: #777;
}

.header-content {
    width: 100%;
    max-width: 1390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-index {
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
    padding: 0px 16px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    b {
        font-size: 40px;
    }
}

main {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}



.pokemon-mini-box {
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 32px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.more-Pokemon {
    height: 64px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-index {
    width: 100%;
    height: 80px;
    padding: 0px 16px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog {
    width: 400px;
    height: 550px;
    border-radius: 30px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(255, 255, 255, 0.77);
    box-shadow: 0px 0px 13px 6px rgba(255, 255, 255, 0.77);
}