* {
    font-family: 'roboto';
}

h2 {
    text-transform: uppercase;
}

main {
    width: 100%;
    max-width: 1440px;
    background: no-repeat url("/assets/icons/pokedex-bg.svg") fixed center;
    margin-left: auto;
    margin-right: auto;
}

.header-index {
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
    padding: 0px 16px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-mini-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 30px;
}

.more-Pokemon {
    height: 64px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-index {
    width: 100%;
    height: 80px;
    padding: 0px 16px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}